.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}
.img-zoom-result {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  z-index: 20;
}
