:root {
  --bg: black;
}
:root.dark {
  --bg: rgb(128, 128, 128);
}

.loader {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 10px;
}

@keyframes spinner {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
